{# app/templates/waybsys/admin/admin-create-user.html.twig #}

{% extends 'waybsys/base.html.twig' %}

{% block content %}

	{{ form_start(form) }}
		{{ form_errors(form) }}
		
		<div class="row">
			<div class="four columns">
				{{ form_label(form.employee, 'Employee') }}
				{{ form_errors(form.employee) }}
				{{ form_widget(form.employee, {'attr': {'class': 'u-full-width', 'placeholder': 'Select Employee'}}) }}
			</div>
		</div>
		
		<div class="row">
			<div class="two columns">
				{{ form_label(form.username, 'Username') }}
				{{ form_errors(form.username) }}
				{{ form_widget(form.username, {'attr': {'class': 'u-full-width', 'placeholder': 'Username'}}) }}
			</div>
			<div class="two columns">
				{{ form_label(form.password, 'Password') }}
				{{ form_errors(form.password) }}
				{{ form_widget(form.password, {'attr': {'class': 'u-full-width', 'placeholder': 'Password'}}) }}
			</div>
		</div>
		
		{{ form_widget(form.save, {'attr': {'class': 'button-primary'}}) }}
		
	{{ form_end(form) }}

{% endblock %}