{# app/Resources/views/waybsys/settings/change-password.html.twig #}

{% extends 'waybsys/base.html.twig' %}

{% block content %}

	{{ form_start(form) }}
		{{ form_errors(form) }}
		
		<div class="row">
			<div class="two columns">
				{{ form_label(form.password.first, 'Enter New Password') }}
				{{ form_errors(form.password.first) }}
				{{ form_widget(form.password.first, {'attr': {'class': 'u-full-width', 'placeholder': 'New Password'}}) }}
			</div>
		</div>
		
		<div class="row">
			<div class="two columns">
				{{ form_label(form.password.second, 'Confirm New Password') }}
				{{ form_errors(form.password.second) }}
				{{ form_widget(form.password.second, {'attr': {'class': 'u-full-width', 'placeholder': 'Repeat New Password'}}) }}
			</div>
		</div>
		
		{{ form_widget(form.save, {'attr': {'class': 'button-primary'}}) }}
		
	{{ form_end(form) }}

{% endblock %}